{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'music/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'music/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
{% for m in menu %}
	{% if not forloop.last %}
			<li><a href="{% url m.url_path %}">{{m.title}}</a></li>
	{% else %}
			<li class="last"><a href="{% url m.url_path %}">{{m.title}}</a></li>
	{% endif %}
{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
		{% if genre_selected == 0 %}
			<li class="selected">All genres</li>
		{% else %}
			<li><a href="{% url 'home' %}">All genres</a></li>
		{% endif %}

		{% for g in genres %}
			{% if g.pk == genre_selected %}
				<li class="selected">{{g.name}}</li>
			{% else %}
				<li><a href="{{ g.get_absolute_url }}">{{g.name}}</a></li>
			{% endif %}
		{% endfor %}
		<li class="share">
		<p>Our telegram</p>
		<a class="share-tg" href="https://telegram.org/lavosami" target="_blank" rel="nofollow"></a>
		</li>
	</ul>
</td>

    <td valign="top" class="content">
	{% block breadcrumbs %}
	{% endblock %}

	<div class="content-text">
{% block content %}
{% endblock %}
	</div>

</td></tr></table>
</td></tr>
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2023 Don't copy this site</p>
	</div>
</td></tr></table>
</body>
</html>
